@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'aktiv-grotesk', sans-serif;
    background: url('https://i.pinimg.com/originals/4f/f0/88/4ff088795aff41e835671f1479fa0366.gif') no-repeat center center fixed;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    width: 99%;
    background-color: rgba(31, 31, 31, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 90%;
    margin-top: 10px;
    border-radius: 30px;
 
}

.logo img {
    width: 200px;
    margin-left: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fcfef7;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffa500;
}

main {
    padding: 20px;
    flex: 1;
}

form {
    background-color: rgba(31, 31, 31, 0.85);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    width: 100%;
    margin: 20px;
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-group h2 {
    margin-bottom: 20px;
    color: #ffa500;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 15px 20px;
    padding-left: 45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.input-container i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #666;
}

.btn {
    background-color: #e08b1b;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
}

.btn:hover {
    background-color: #e7732f;
}

.imagelogin img {
    display: none;
}